body {
    background-color: #fff;
    font-family: 'Crete Round', sans-serif;
    line-height: 24px;
    font-size: 16px;
    color: #818181;
}

figure, p, address {
    margin: 0;
}

p {
    line-height: 25px;
    color: black;
    font-family: 'Crete Round', sans-serif;
    font-size: 25px;
}

iframe {
    border: 0;
}

a {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

a, a:hover, a:focus, .btn:focus {
    text-decoration: none;
    outline: none;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Alfa Slab One', sans-serif;
    color: #252525;
}

h1{
    font-family: 'Alfa Slab One', sans-serif;
    color: #777;
    font-size: 50px;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;
}
h2{
    color: black;
    font-size: 42px;
    font-weight: normal;
    text-transform: uppercase;
    font-family: 'Alfa Slab One', sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
}
p{
    margin-top: 20px;
    margin-bottom: 30px;
}
main > section {
    padding: 70px 0;
}

.btn {
    border-radius: 0;
    border: 0;
    position: relative;
    text-transform: uppercase;
}

.btn-border {
    border: 2px solid #fff;
    color: #fff;
    padding: 12px 35px;
}

/* Sweep To Right */
.btn-effect {
    vertical-align: middle;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    display: inline-block;

    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transition-property: color;
    -moz-transition-property: color;
    -ms-transition-property: color;
    transition-property: color;

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;

    -moz-osx-font-smoothing: grayscale;
}

.btn-effect:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;

    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);

    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    transform-origin: 0 50%;

    -webkit-transition-property: transform;
    -moz-transition-property: transform;
    -ms-transition-property: transform;
    transition-property: transform;

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;

    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.btn-effect:hover, .btn-effect:focus, .btn-effect:active {
    color: rgb(103, 102, 250);
}

.btn-effect:hover:before, .btn-effect:focus:before, .btn-effect:active:before {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}



/**
/*	Preloader
/* ==========================================*/

#preloader {
    background-color: #fff;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

/*Battery*/
.loder-box {
    background-color: rgba(0, 0, 0, 0.02);
    border-radius: 1px;
    height: 100px;
    left: 50%;
    margin-left: -64px;
    margin-top: -50px;
    position: absolute;
    top: 50%;
    width: 128px;
}

.battery{
    width: 60px;
    height: 25px;
    top: 35%;
    border: 1px #2E2E2E solid;
    border-radius: 2px;
    position: relative;
    -webkit-animation: charge 5s linear infinite;
    -moz-animation: charge 5s linear infinite;
    animation: charge 5s linear infinite;
    margin: 0 auto;
}

.battery:after {
    background-color: #2E2E2E;
    border-radius: 0 1px 1px 0;
    content: "";
    height: 10px;
    position: absolute;
    right: -5px;
    top: 7px;
    width: 3px;
}

@-webkit-keyframes charge{
    0%{box-shadow: inset 0px 0px 0px #2E2E2E;}
    100%{box-shadow: inset 60px 0px 0px #2E2E2E;}
}

@-moz-keyframes charge{
    0%{box-shadow: inset 0px 0px 0px #2E2E2E;}
    100%{box-shadow: inset 60px 0px 0px #2E2E2E;}
}

@keyframes charge{
    0%{box-shadow: inset 0px 0px 0px #2E2E2E;}
    100%{box-shadow: inset 60px 0px 0px #2E2E2E;}
}

/**
/*	Header
/* ==========================================*/

#navigation {
    -webkit-transition: all 0.8s ease 0s;
    -moz-transition: all 0.8s ease 0s;
    -ms-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    padding: 20px 0;
}

h1.navbar-brand {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
}


/*=================================================================
	Home Slider
    ==================================================================*/


#home-slider {
    position: relative;
    padding: 0;
}

.sl-slider-wrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.sl-slider {
    position: absolute;
    top: 0;
    left: 0;
}

/* Slide wrapper and slides */

.sl-slide,
.sl-slides-wrapper,
.sl-slide-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10px;
    left: 0;
}

.sl-slide {
    z-index: 1;
}

.slide-caption {
    color: #fff;
    display: table;
    height: 100%;
    left: 0;
    min-height: 100%;
    position: absolute;
    text-align: center;
    top: 5%;
    width: 100%;
    z-index: 11;
}

.slide-caption .caption-content {
    /*vertical-align: middle;*/
    display: table-cell;
    padding-top: 10%;
}

.caption-content h1 {
    color: #777;
    font-size: 50px;
    font-weight: normal;
    text-transform: uppercase;
}
.caption-content h2 {
    color: black;
    font-size: 42px;
    font-weight: normal;
    text-transform: uppercase;
}

.caption-content > span {
    display: block;
    font-size: 24px;
    /* margin-bottom: 45px;*/
    text-transform: capitalize;
}

.caption-content p {
    font-size: 25px;
    line-height: 1.1
}

/* The duplicate parts/slices */

.sl-content-slice {
    overflow: hidden;
    position: absolute;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background: #fff;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity : 1;
}

/* Horizontal slice */

.sl-slide-horizontal .sl-content-slice {
    width: 100%;
    height: 50%;
    left: -200px;
    -webkit-transform: translateY(0%) scale(1);
    -moz-transform: translateY(0%) scale(1);
    -o-transform: translateY(0%) scale(1);
    -ms-transform: translateY(0%) scale(1);
    transform: translateY(0%) scale(1);
}

.sl-slide-horizontal .sl-content-slice:first-child {
    top: -200px;
    padding: 200px 200px 0px 200px;
}

.sl-slide-horizontal .sl-content-slice:nth-child(2) {
    top: 50%;
    padding: 0px 200px 200px 200px;
}

/* Vertical slice */

.sl-slide-vertical .sl-content-slice {
    width: 50%;
    height: 100%;
    top: -200px;
    -webkit-transform: translateX(0%) scale(1);
    -moz-transform: translateX(0%) scale(1);
    -o-transform: translateX(0%) scale(1);
    -ms-transform: translateX(0%) scale(1);
    transform: translateX(0%) scale(1);
}

.sl-slide-vertical .sl-content-slice:first-child {
    left: -200px;
    padding: 200px 0px 200px 200px;
}

.sl-slide-vertical .sl-content-slice:nth-child(2) {
    left: 50%;
    padding: 200px 200px 200px 0px;
}

/* Content wrapper */
/* Width and height is set dynamically */
.sl-content-wrapper {
    position: absolute;
}

.sl-content {
    width: 100%;
    height: 100%;
}


/*=================================================================
	Contact
    ==================================================================*/

.input-field {
    margin-bottom: 10px;
}

.form-control {
    border: 1px solid #ececec;
    border-radius: 0;
    box-shadow: none;
    color: #818181;
    font-size: 16px;
    height: 50px;
}

textarea.form-control {
    width: 100%;
    height: 165px;
}

#submit:hover {
    color: #fff;
}

#submit:before {
    background-color: #0A85BB;
}

#submit.btn-effect:after {
    background: #2E2E2E;
}

.contact-details h3 {
    border-bottom: 1px solid #008ecc;
    font-weight: 700;
    margin-bottom: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.contact-details p {
    line-height: 25px;
}

.contact-details p i {
    margin-right: 10px;
}

.contact-details span {
    display: block;
    margin-left: 24px;
}


/*============================================================
	Google Maps
    ==============================================================*/

#google-map {
    padding: 0;
}

#map-canvas {
    width: 100%;
    height: 300px;
}


/*============================================================
	Footer
    ==============================================================*/

#footer {
    background-color: #2E2E2E;
    padding: 5px 0;
    color: #fff;
}

.footer-content {
    width: 390px;
    margin: 0 auto;
}

.footer-content > div {
    margin-bottom: 40px;
}

.footer-content > div > p:first-child {
    margin-bottom: 15px;
    text-transform: uppercase;
}

.footer-content > p {
    color: #ababab;
    font-size: 12px;
    margin:0 auto;
}





/**CUSTOM STYLE*/

/*Pocetna*/
/*Navbar start*/
.logo-width{
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
    height: 80px;
    margin-top: -20px;
}
.navbar-nav>li {
    max-width: 170px;
}
.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    font-weight: bold;
    background: none !important;
}
.navbar-nav>li>a {
    color:black;
}
.navbar-toggle .icon-bar {
    background-color: #777;
}

/*Navbar end*/

/*Slider start*/

#nav-arrows > a{
    color: #999;
    border: none;
    margin-top: 0px;
}
#nav-arrows > a.sl-next:hover {
    background-color: transparent;
    border-color: transparent;
    color: rgb(103, 102, 204);
}

/*Slider end*/
.btnFontSize{
    font-size: 23px;
    text-align: left !important;
    color: black;
    background-color: white;
    font-family: 'Alfa Slab One';
    font-weight: bolder;
    padding: 20px;
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.75);
}
.slide-caption{
    color: black;
    display: table;
    height: 100%;
    left: 0;
    min-height: 100%;
    position: absolute;
    text-align: left;
    margin-left: 10%;
    top: 5%;
    width: 100%;
    z-index: 11;
}
.placeForYouImg{
    max-width: 900px;
    margin: 0 auto;
}
#about{
    background-image: url(../img/about/about-background-smaller.png);
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    width: 100%;
    height: 653px;
}
.about-content{
    text-align: center;
}

.about-content h1 {
    color: #777;
    font-size: 50px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
}
.about-content h2 {
    color: black;
    font-size: 42px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
}

.about-content > p {
    font-size: 25px;
    line-height: 1.1;
    text-align: center;
    display: block;
    color: black;
}
.about-content > a {
    text-align: center;
}
.aboutUsText{
    line-height: 1.3;
}
/*IMT*/
.blueColor{
    color:#6766fa;
}
.redColor{
    color:#ed1c24;
}
/*IMT*/

.whoAreWeText{
    text-align: left !important;
    line-height: 25px;

}

.aboutCompany{
    background-color: #77777730;
    padding: 20px;
    color: grey;
    font-size: 18px;
    border-radius: 30px;
    text-align: center;
    margin-top: 50px;
}
.h2Font{
    font-size: 30px !important;
}

.alignCenterImg{
    margin-right: auto;
    margin-left: auto;
}
.borderRadius{
    border-radius: 30px;
}

.colorGrey{
    color: #777;
}
.visionMissionValues{
    background-color: white;
    border-radius: 30px;
    color: black;
    padding: 20px;
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.75);
}

.backgroundTest{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    z-index: -1;
    max-height: 850px;
}
.contentTest{
    display: table;
    max-width: 880px;
    width: 100%;
    margin-left: 180px;
    margin-top: 135px;
    z-index: 1;
    height: 600px;
    text-align: left;
}
.contentBodyTest{
    display: table-cell;
    vertical-align: middle;

}
.backgroundImageOwls{
    background: url('../img/about/owlsOpenMouth3-Vertical.png');
    background-repeat:no-repeat;
    background-position:right center;
}

.anchor {
    display:block;
    padding-top:150px;
}

.banner-owl-left{
    position: absolute;
    top: 200px;
    left: 0px;
    z-index: 1;

}
.banner-owl-right{
    position: absolute;
    right: 100px;
    top: 150px;
    z-index: -2;
}

.sto-se-mora-zvijezda{
    margin:0 auto;
    text-align: center;
}
.divPadding{
    padding-left:0px;
    padding-right:0px;
}

/*Minimalni tehnicki uvjeti*/

.listStyle{
    text-align: left;
    display: block;
    font-size: 25px;
    color: black;
    line-height: 1.1;


}
.listStyle li {
    padding-bottom:20px;
    display: block;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.banner-minteh-right{
    position: absolute;
    right: 100px;
    top: 200px;
    z-index: -2;
}
.budi-zvijezda{
    width:300px;
    margin:15% 0;
}
.turisticka-agencija-div{
    background-color: #eeb21e; border-radius: 30px; color: white; padding: 20px; font-size: 14px; margin-top:-100px;
}
.minteh-info-div{
    background-color: #eeb21e; border-radius: 30px; color: white; padding: 20px; font-size: 14px; margin-top:-100px;
    margin-top:0px !important;
}


/*Zastita na radu i Zastita od pozara*/
.banner-znr-right{
    position: absolute;
    right: 100px;
    top:350px;
    z-index: -2;
}

.ZNRp{
    background-color: white;
    border-radius: 30px;
    color: black;
    padding: 20px;
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.75);
}
.colorYellow{
    color: #fbb92f;
}

/*Daljnje obveze*/
.banner-do-right{
    position: absolute;
    right: 100px;
    top:150px;
    z-index: -2;
}



















/*============================================================
	Responsive Styles
 ============================================================*/

/*============================================================
	For Small Desktop
    ==============================================================*/

@media (min-width: 980px) and (max-width: 1150px) {

    /*about
    #about .welcome-block img {
        margin-bottom: 30px;
        }*/

}


/*============================================================
	Tablet (Portrait) Design for a width of 768px
    ==============================================================*/

@media (min-width: 768px) and (max-width: 979px) {

    /* home slider  */
    .caption-content h2 {
        font-size: 40px;
    }

    .caption-content p {
        font-size: 25px;
    }

    .caption-content strong {
        font-size: 45px;
    }
    /* contact form */
    .contact-form {
        margin-bottom: 50px;
    }
}

/*Collapse header at resolutions smaller than 991px*/
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 20px;
    }
    .collapse.in{
        display:block !important;
    }

    .logo-width{
        margin-top: -30px !important;

    }
}

/*============================================================
	Mobile (Portrait) Design for a width of 320px
    ==============================================================*/



@media only screen and (max-width: 767px) {

    body {
        font-size: 14px;
    }

    .sec-title h2 {
        font-size: 25px;
    }

    .sec-title h2:after {
        left: 30%;
    }

    /*navigation*/
    .navbar-inverse .navbar-toggle {
        border-color: #fff;
    }

    .navbar-inverse .navbar-toggle:hover,
    .navbar-inverse .navbar-toggle:focus {
        background-color: transparent;
    }

    /* slider */
    .caption-content h2 {
        font-size: 20px;
    }

    h2{
        font-size: 20px;
    }

    .caption-content > span {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .caption-content p {
        font-size: 18px;
        margin-bottom: 20px;
    }
    p{
        font-size: 18px;

    }

    .caption-content strong {
        font-size: 22px;
    }

    /* about */

    #about h3 {
        font-size: 18px;
        margin: 0 0 35px !important;
    }


    /* contact form */
    .contact-form {
        margin-bottom: 50px;
    }

    /* footer */
    .footer-content {
        width: 100%;
    }

    .container {
        padding-right: 40px;
        padding-left: 40px;
        margin-right: auto;
        margin-left: auto;
    }

    main > section{
        padding: 40px 0;
    }
}


/*============================================================
	Mobile (Landscape) Design for a width of 480px
    ==============================================================*/

@media only screen and (min-width: 480px) and (max-width: 767px) {

    .sec-title h2:after {
        left: 38%;
    }

    /* home slider */
    .caption-content h2 {
        font-size: 35px;
    }

    .caption-content p {
        font-size: 25px;
    }

    .caption-content strong {
        font-size: 35px;
    }

    /* contact form */
    .contact-form {
        margin-bottom: 50px;
    }

    /* footer */
    .footer-content {
        width: 380px;
    }
}


@media(min-width: 1349px) {

    .caption-content h1 {
        color: #777;
        font-size: 50px;
        font-weight: normal;
        text-transform: uppercase;
    }
    .caption-content h2 {
        color: black;
        font-size: 42px;
        font-weight: normal;
        text-transform: uppercase;
    }

    .caption-content > span {
        display: block;
        font-size: 14px;
        text-transform: capitalize;
    }
}



@media only screen and (max-width: 768px){

    .placeForYouImg{
        width:100% !important;
    }

    .logo-width{
        margin-top: -30px;
    }

    #navigation.animated-header {
        padding-bottom: 30px;

    }

    #verticalImage{
        display: none;
    }

    #about {
        background-image: none !important;
        text-align: center;
    }

    .btnFontSize{
        font-size: 20px;

    }

    .slide-caption{
        color: #fff;
        display: table;
        height: 100%;
        left: 0;
        min-height: 100%;
        position: absolute;
        text-align: center;
        top: 5%;
        margin-left: 0px;
        width: 100%;
        z-index: 11;
    }
    .caption-content h1 {
        color: #777;
        font-size: 40px;
        font-weight: bolder;
        text-transform: uppercase;
    }
    .caption-content h2 {
        color: black;
        font-size: 30px;
        font-weight: bolder;
        text-transform: uppercase;
    }
    .caption-content p {
        font-size: 20px;
        word-wrap: break-word;
        white-space: normal;
        margin-bottom: 30px;
    }
    .caption-content > span {
        display: block;
        font-size: 12px;
        text-transform: capitalize;
    }

    h1{
        font-size: 40px;
    }
    h2{
        font-size: 30px;
    }
    p{
        font-size: 20px;
    }

    .about-content h1 {
        font-size: 40px !important;
    }
    .about-content h2 {
        font-size: 30px !important;
    }
    .about-content p {
        font-size: 20px !important;
    }
    .contact-details p {
        font-size: 20px;
    }

    .bg-img-1{
        background-image: none !important;
        text-align: center;
    }

    .bg-img-2{
        background-image: none !important;
        text-align: center;
    }
    .bg-img-3{
        background-image: none !important;
        text-align: center;
    }
    .bg-img-4{
        background-image: none !important;
        text-align: center;
    }
    .slide-caption .caption-content {
       /* vertical-align: middle;*/
        display: table-cell;
       padding-top: 20%;
    }
}







@media(max-width: 995px){
    .turisticka-agencija-div{
        margin-top:0px !important;
    }
}

@media(max-width: 780px){
    .banner-owl-left{
        display: none;
    }
    .banner-owl-right{
        display: none;
    }
    .contentTest{
        margin-left: 70px;
    }
    .banner-minteh-right{
        display: none;
    }
    .budi-zvijezda{
        text-align: center;

    }
    .alignCenterImg{
        margin-top: 20px !important;
    }

    .banner-znr-right{
        display: none;
    }
    .banner-do-right{
        display: none;
    }
}
/*
@media(max-width: 1010px){
    .banner-znr-right{
     display: none;
 }
}*/




