body {
    background-color: #fff;
    font-family: 'Crete Round', sans-serif;
    line-height: 24px;
    font-size: 16px;
    color: #818181;
}

figure, p, address {
    margin: 0;
}

p {
    line-height: 25px;
    color: black;
    font-family: 'Crete Round', sans-serif;
    font-size: 25px;
}

iframe {
    border: 0;
}

a {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

a, a:hover, a:focus, .btn:focus {
    text-decoration: none;
    outline: none;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Alfa Slab One', sans-serif;
    color: #252525;
}

h1{
    font-family: 'Alfa Slab One', sans-serif;
    color: #777;
    font-size: 50px;
    font-weight: normal;
    text-transform: uppercase;
}
h2{
    color: black;
    font-size: 42px;
    font-weight: normal;
    text-transform: uppercase;
    font-family: 'Alfa Slab One', sans-serif;
}
p{

}
main > section {
    padding: 70px 0;
}

.btn {
    border-radius: 0;
    border: 0;
    position: relative;
    text-transform: uppercase;
}

.btn-blue {
    background-color:  rgb(103, 102, 250);
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.15) inset;
    padding: 15px 55px;
    color: #fff;
}

.btn-border {
    border: 2px solid #fff;
    color: #fff;
    padding: 12px 35px;
}

.bg-blue {
    background-color: #009EE3;
}

/* Sweep To Right */
.btn-effect {
	vertical-align: middle;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	display: inline-block;

	-webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transition-property: color;
    -moz-transition-property: color;
    -ms-transition-property: color;
    transition-property: color;

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;

    -moz-osx-font-smoothing: grayscale;
}

.btn-effect:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	
	-webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);

    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    transform-origin: 0 50%;

    -webkit-transition-property: transform;
    -moz-transition-property: transform;
    -ms-transition-property: transform;
    transition-property: transform;

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;

    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.btn-effect:hover, .btn-effect:focus, .btn-effect:active {
	color: rgb(103, 102, 250);
}

.btn-effect:hover:before, .btn-effect:focus:before, .btn-effect:active:before {
	-webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

.sec-title {
    margin-bottom: 50px;
}

.sec-title.white {
    color: #fff;
}

.sec-title h2 {
    font-size: 36px;
    margin: 0 0 30px;
    padding-bottom: 30px;
    position: relative;
    text-transform: uppercase;
}

.sec-title.white h2 {
    color: #fff;
}

.sec-title h2:after {
    content: "";
    display: block;
    left: 45%;
    bottom: 0;
    position: absolute;
    width: 115px;
}

.sec-title.white h2:after {
    border-bottom: 1px solid #fff;
}

.parallax {
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}


/**
/*	Preloader
/* ==========================================*/

#preloader {
    background-color: #fff;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

/*Battery*/
.loder-box {
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 1px;
  height: 100px;
  left: 50%;
  margin-left: -64px;
  margin-top: -50px;
  position: absolute;
  top: 50%;
  width: 128px;
}

.battery{
    width: 60px;
    height: 25px;
    top: 35%;
    border: 1px #2E2E2E solid;
    border-radius: 2px;
    position: relative;
    -webkit-animation: charge 5s linear infinite;
    -moz-animation: charge 5s linear infinite;
    animation: charge 5s linear infinite;
    margin: 0 auto;
}

.battery:after {
  background-color: #2E2E2E;
  border-radius: 0 1px 1px 0;
  content: "";
  height: 10px;
  position: absolute;
  right: -5px;
  top: 7px;
  width: 3px;
}

@-webkit-keyframes charge{
    0%{box-shadow: inset 0px 0px 0px #2E2E2E;}
    100%{box-shadow: inset 60px 0px 0px #2E2E2E;}
}

@-moz-keyframes charge{
    0%{box-shadow: inset 0px 0px 0px #2E2E2E;}
    100%{box-shadow: inset 60px 0px 0px #2E2E2E;}
}

@keyframes charge{
    0%{box-shadow: inset 0px 0px 0px #2E2E2E;}
    100%{box-shadow: inset 60px 0px 0px #2E2E2E;}
}





/**
/*	Header
/* ==========================================*/

#navigation {
    -webkit-transition: all 0.8s ease 0s;
    -moz-transition: all 0.8s ease 0s;
    -ms-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;

    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    padding: 20px 0;
}

#navigation.animated-header {
    /*padding: 30px 0;*/

}

h1.navbar-brand {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
}


/*=================================================================
	Home Slider
    ==================================================================*/


    #home-slider {
        position: relative;
        padding: 0;
    }

    .sl-slider-wrapper {
        width: 100%;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
    }

    .sl-slider {
        position: absolute;
        top: 0;
        left: 0;
    }

    /* Slide wrapper and slides */

    .sl-slide,
    .sl-slides-wrapper,
    .sl-slide-inner {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 10px;
        left: 0;
    } 

    .sl-slide {
        z-index: 1;
    }

    .slide-caption {
        color: #fff;
        display: table;
        height: 100%;
        left: 0;
        min-height: 100%;
        position: absolute;
        text-align: center;
        top: 5%;
        width: 100%;
        z-index: 11;
    }

    .slide-caption .caption-content {
        vertical-align: middle;
        display: table-cell;
    }

    .caption-content h1 {
    color: #777;
    font-size: 50px;
    font-weight: normal;
    text-transform: uppercase;
}
    }
    .caption-content h2 {
   color: black;
    font-size: 42px;
    font-weight: normal;
    text-transform: uppercase;
    }

    .caption-content > span {
        display: block;
        font-size: 24px;
        /* margin-bottom: 45px;*/
        text-transform: capitalize;
    }

    .caption-content p {
        font-size: 25px;
        line-height: 1.1
    }

    /* The duplicate parts/slices */

    .sl-content-slice {
        overflow: hidden;
        position: absolute;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        background: #fff;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        opacity : 1;
    }

    /* Horizontal slice */

    .sl-slide-horizontal .sl-content-slice {
        width: 100%;
        height: 50%;
        left: -200px;
        -webkit-transform: translateY(0%) scale(1);
        -moz-transform: translateY(0%) scale(1);
        -o-transform: translateY(0%) scale(1);
        -ms-transform: translateY(0%) scale(1);
        transform: translateY(0%) scale(1);
    }

    .sl-slide-horizontal .sl-content-slice:first-child {
        top: -200px;
        padding: 200px 200px 0px 200px;
    }

    .sl-slide-horizontal .sl-content-slice:nth-child(2) {
        top: 50%;
        padding: 0px 200px 200px 200px;
    }

    /* Vertical slice */

    .sl-slide-vertical .sl-content-slice {
        width: 50%;
        height: 100%;
        top: -200px;
        -webkit-transform: translateX(0%) scale(1);
        -moz-transform: translateX(0%) scale(1);
        -o-transform: translateX(0%) scale(1);
        -ms-transform: translateX(0%) scale(1);
        transform: translateX(0%) scale(1);
    }

    .sl-slide-vertical .sl-content-slice:first-child {
        left: -200px;
        padding: 200px 0px 200px 200px;
    }

    .sl-slide-vertical .sl-content-slice:nth-child(2) {
        left: 50%;
        padding: 200px 200px 200px 0px;
    }

    /* Content wrapper */
    /* Width and height is set dynamically */
    .sl-content-wrapper {
        position: absolute;
    }

    .sl-content {
        width: 100%;
        height: 100%;
    }

/* Default styles for background colors

.btn-effect:after {
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    content: "";
    position: absolute;
    z-index: -1;

    -webkit-transition: all 0.3s ease-out 0s;
       -moz-transition: all 0.3s ease-out 0s;
        -ms-transition: all 0.3s ease-out 0s;
         -o-transition: all 0.3s ease-out 0s;
            transition: all 0.3s ease-out 0s;
}

.btn-effect:hover,
.btn-effect:active {
    color: #0e83cd;
}

.btn-effect:hover:after,
.btn-effect:active:after {
    width: 100%;
    } */


    /* Project laughtbox setup */

    .fancybox-item.fancybox-close {
        background: url("../img/icons/close.png") no-repeat scroll 0 0 transparent;
        height: 50px;
        right: 0;
        top: 0;
        width: 50px;
    }

    .fancybox-next span {
        background: url("../img/right.png") no-repeat scroll center center #009ee3;
        height: 50px;
        width: 50px;
        right: 0;
    }

    .fancybox-prev span {
        background: url("../img/left.png") no-repeat scroll center center #009ee3;
        height: 50px;
        width: 50px;
        left: 0;
    }

/*=================================================================
	About
    ==================================================================*/

    #about {
     /* background-color: #6766fa;*/
     color: #fff;
 }

 #about h3 {
    color: #fff;
    margin: 0 0 35px;
    text-transform: uppercase;
}

#about .welcome-block h3 {
    margin: 0 0 65px;
}

#about .welcome-block img {
    border: 3px solid #fff;
    border-radius: 50%;
    margin-right: 35px;
    max-width: 100px;
}

#about .message-body {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 70px;
}

.owl-buttons {
    border: 2px solid #fff;
    display: inline-block;
    float: right;
    padding: 1px 8px 5px;
}

.owl-buttons > div {
    display: inline-block;
    padding: 0 5px;
}

.welcome-message {
    padding: 0 50px;
}

.welcome-message img {
    display: block;
    height: auto;
    max-width: 100px;
    float: left;
}

.welcome-message p {
    font-size: 13px;
    margin-left: 135px;
}

/*=================================================================
	Services
    ==================================================================*/

    .service-icon {
        border: 3px solid transparent;
        display: inline-block;
        height: 85px;
        width: 85px;
        line-height: 101px;

        -webkit-transform: rotate(47deg);
        -moz-transform: rotate(47deg);
        -ms-transform: rotate(47deg);
        -o-transform: rotate(47deg);
        transform: rotate(47deg);

        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -ms-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }

    .service-item:hover .service-icon {
        border: 3px solid #009ee3;
        margin-bottom: 20px;
        color: #009ee3;
    }

    .service-icon i {
        -webkit-transform: rotate(-48deg);
        -moz-transform: rotate(-48deg);
        -ms-transform: rotate(-48deg);
        -o-transform: rotate(-48deg);
        transform: rotate(-48deg);
    }

    .service-item h3 {
        font-size: 20px;
        text-transform: uppercase;
    }

/*=================================================================
	Portfolio
    ==================================================================*/

    .project-wrapper {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
    }

    .project-wrapper li {
        display: inline-block;
    }

    .portfolio-item {
        cursor: pointer;
        margin: 0 1% 1% 0;
        overflow: hidden;
        position: relative;
        width: 32%;
    }

    figcaption.mask {
        background-color: rgba(54, 55, 50, 0.79);
        bottom: -126px;
        color: #fff;
        padding: 25px;
        position: absolute;
        width: 100%;
        text-align: left;

        -webkit-transition: all 0.4s ease 0s;
        -moz-transition: all 0.4s ease 0s;
        -ms-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
    }

    .portfolio-item:hover figcaption.mask {
        bottom: 0;
    }

    figcaption.mask h3 {
        margin: 0;
        color: #fff;
    }

    ul.external {
        list-style: outside none none;
        margin: 0;
        padding: 0;
        position: absolute;
        right: 0;
        top: -47px;

        -webkit-transition: all 0.4s ease 0s;
        -moz-transition: all 0.4s ease 0s;
        -ms-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
    }

    ul.external li {
        display: inline-block;
    }

    ul.external li a {
        background-color: rgba(255, 255, 255, 0.9);
        color: #818181;
        display: block;
        padding: 10px 18px 13px;

        -webkit-transition: all 0.5s ease 0s;
        -moz-transition: all 0.5s ease 0s;
        -ms-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
    }

    ul.external li a:hover {
        background-color: #009EE3;
        color: #fff;
    }

    .portfolio-item:hover ul.external {
        top: 0;
    }

    .fancybox-skin {
        border-radius: 0;
    }

    .fancybox-title.fancybox-title-inside-wrap {
        padding: 15px;
    }

    .fancybox-title h3 {
        margin: 0 0 15px;
    }

    .fancybox-title p {
        color: #818181;
        font-size: 16px;
        line-height: 22px;
    }

    .fancybox-title-inside-wrap {
        padding-top: 0;
    }



/*=================================================================
	Contact
    ==================================================================*/

    .input-field {
        margin-bottom: 10px;
    }

    .form-control {
        border: 1px solid #ececec;
        border-radius: 0;
        box-shadow: none;
        color: #818181;
        font-size: 16px;
        height: 50px;
    }

    textarea.form-control {
        width: 100%;
        height: 165px;
    }

    #submit:hover {
      color: #fff;
  }

  #submit:before {
      background-color: #0A85BB;
  }

  #submit.btn-effect:after {
      background: #2E2E2E;
  }

  .contact-details h3 {
    border-bottom: 1px solid #008ecc;
    font-weight: 700;
    margin-bottom: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.contact-details p {
    line-height: 30px;
}

.contact-details p i {
    margin-right: 10px;
}

.contact-details span {
    display: block;
    margin-left: 24px;
}


/*============================================================
	Google Maps
    ==============================================================*/

    #google-map {
        padding: 0;
    }

    #map-canvas {
        width: 100%;
        height: 300px;
    }


/*============================================================
	Footer
    ==============================================================*/

    #footer {
        background-color: #2E2E2E;
        padding: 10px 0;
        color: #fff;
    }

    .footer-content {
        width: 390px;
        margin: 0 auto;
    }

    .footer-content > div {
        margin-bottom: 40px;
    }

    .footer-content > div > p:first-child {
        margin-bottom: 15px;
        text-transform: uppercase;
    }

    .subscribe-form {
        position: relative;
    }

    .subscribe.form-control {
        background-color: transparent;
        border: 1px solid #7f7f7f;
    }

    .subscribe.form-control:focus {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .submit-icon {
        background-color: #7f7f7f;
        border: 0 none;
        border-radius: 0;
        color: #c1c1c1;
        padding: 13px 20px;
        position: absolute;
        overflow: hidden;
        right: 0;
        top: 0;
    }

    .submit-icon .fa-paper-plane {
        position: relative;
        top: 0;

        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);

        -webkit-transition: all 0.3s ease 0.2s;
        -moz-transition: all 0.3s ease 0.2s;
        -ms-transition: all 0.3s ease 0.2s;
        -o-transition: all 0.3s ease 0.2s;
        transition: all 0.3s ease 0.2s;
    }

    .submit-icon:hover .fa-paper-plane {
        position: relative;
        top: -37px;

        -webkit-transform: translateX(30px);
        -moz-transform: translateX(30px);
        -ms-transform: translateX(30px);
        -o-transform: translateX(30px);
        transform: translateX(30px);
    }

    .footer-content .footer-social {
        margin: 40px 0 35px;
    }

    .footer-social ul {
        list-style: outside none none;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .footer-social ul li {
        display: inline-block;
        margin: 0 10px;
    }

    .footer-social ul li a {
        color: #7f7f7f;
        display: block;

        -webkit-transition: all 0.2s ease 0s;
        -moz-transition: all 0.2s ease 0s;
        -ms-transition: all 0.2s ease 0s;
        -o-transition: all 0.2s ease 0s;
        transition: all 0.2s ease 0s;
    }

    .footer-social ul li a:hover {
        color: #009EE3;
    }

    .footer-content > p {
        color: #ababab;
        font-size: 12px;
    }



/*============================================================ 
	Responsive Styles
   ============================================================*/

/*============================================================
	For Small Desktop
    ==============================================================*/

    @media (min-width: 980px) and (max-width: 1150px) {

        /*about*/
        #about .welcome-block img {
            margin-bottom: 30px;
        }

        /* portfolio */
        figcaption.mask {
            bottom: -151px;
        }

        .testimonial-item > div:after {
            bottom: -40px;
        }
    }


/*============================================================
	Tablet (Portrait) Design for a width of 768px
    ==============================================================*/

    @media (min-width: 768px) and (max-width: 979px) {

        /* home slider  */
        .caption-content h2 {
            font-size: 40px;
        }

        .caption-content p {
            font-size: 25px;
        }

        .caption-content strong {
            font-size: 45px;
        }

        /* about */
        .recent-works {
            margin-bottom: 50px;
        }

        .service-item {
            margin-bottom: 50px;
        }

        /* portfolio */
        .portfolio-item {
            width: 48%;
        }

        /* testimonial */
        .testimonial-item {
            width: 100%;
        }

        .testimonial-item {
            width: 80%;
        }

        .testimonial-item > div:after {
            bottom: -35px;
        }

        /* price */
        .price-table {
            margin-bottom: 50px;
        }

        /* contact form */
        .contact-form {
            margin-bottom: 50px;
        }
    }


@media (max-width: 991px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 20px;
  }
  .collapse.in{
      display:block !important;
  }

  .logo-width{
    margin-top: -30px !important;

  }
}

/*============================================================
	Mobile (Portrait) Design for a width of 320px
    ==============================================================*/



    @media only screen and (max-width: 767px) {

        body {
            font-size: 14px;
        }

        .parallax {
            background-position: centet tip !important;
        }

        .sec-title h2 {
            font-size: 25px;
        }

        .sec-title h2:after {
            left: 30%;
        }

        /*navigation*/
        .navbar-inverse .navbar-toggle {
            border-color: #fff;
        }

        .navbar-inverse .navbar-toggle:hover,
        .navbar-inverse .navbar-toggle:focus {
            background-color: transparent;
        }

        /* slider */
        .caption-content h2 {
            font-size: 20px;
        }

        h2{
            font-size: 20px;
        }

        .caption-content > span {
            font-size: 16px;
            margin-bottom: 20px;
        }

        .caption-content p {
            font-size: 18px;
            margin-bottom: 30px;
        }
        p{
            font-size: 18px;
        }

        .caption-content strong {
            font-size: 22px;
        }

        /* about */
        .recent-works {
            margin-bottom: 85px;
        }

        #about h3 {
            font-size: 18px;
            margin: 0 0 35px !important;
        }

        #about .owl-buttons {
            margin-top: 20px;
        }

        #about .message-body {
            margin-bottom: 45px;
        }

        #about .welcome-block img {
            margin: 0 25px 15px 0;
        }

        /* service */
        .service-item {
            width: 100%;
        }

        /*portfolio*/
        .portfolio-item {
            margin: 0 auto 10px;
            font-size: 14px;
            width: 280px;
        }

        figcaption.mask {
            bottom: -107px;
            color: #fff;
            padding: 15px;
        }

       

        /* contact form */
        .contact-form {
            margin-bottom: 50px;
        }

        /* footer */
        .footer-content {
            width: 100%;
        }

        .footer-social ul li {
            margin: 0 7px;
        }
    }


/*============================================================
	Mobile (Landscape) Design for a width of 480px
    ==============================================================*/

    @media only screen and (min-width: 480px) and (max-width: 767px) {

        .sec-title h2:after {
            left: 38%;
        }

        /* home slider */
        .caption-content h2 {
            font-size: 35px;
        }

        .caption-content p {
            font-size: 25px;
        }

        .caption-content strong {
            font-size: 35px;
        }

        /*about*/

        #about .welcome-block h3 {
            margin: 0 0 35px;
        }

        /* service */

        .service-item {
            margin: 0 auto 50px;
            width: 55%;
        }

        /* portfolio */
        .portfolio-item {
            width: 48%;
        }

        figcaption.mask {
            bottom: -132px;
        }

        /* testimonial */
        .testimonial-item {
            width: 80%;
        }

        .testimonial-item > div:before {
            bottom: 160px;
        }

        /* social */
        .social-button li:nth-child(2) {
            margin: 0 50px;
        }

        .social-button li a {
            height: 90px;
            line-height: 96px;
            width: 90px;
        }

        /* price */
        .price-table {
            margin-bottom: 50px;
        }

        /* contact form */
        .contact-form {
            margin-bottom: 50px;
        }

        /* footer */
        .footer-content {
            width: 380px;
        }
    }

    .logo-width{
        max-width: 100%;
        display: inline-block;
        vertical-align: middle;
        height: 80px;
        margin-top: -20px;
    }
    .navbar-nav>li {
        max-width: 170px;
    }
    .btnFontSize{
        margin-top: -15px;
        font-size: 23px;
        text-align: left !important;
        color: black;
        background-color: white;
        font-family: 'Alfa Slab One';
        font-weight: bolder;
        padding: 20px;
        box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.75);
    }

@media(min-width: 1349px) {

    .caption-content h1 {
        color: #777;
        font-size: 50px;
        font-weight: normal;
        text-transform: uppercase;
    }
    .caption-content h2 {
        color: black;
        font-size: 42px;
        font-weight: normal;
        text-transform: uppercase;
    }

    .caption-content > span {
        display: block;
        font-size: 14px;
        text-transform: capitalize;
    }
}


.slide-caption{
  color: black;
  display: table;
  height: 100%;
  left: 0;
  min-height: 100%;
  position: absolute;
  text-align: left;
  margin-left: 145px;
  top: 5%;
  width: 100%;
  z-index: 11;
}

.placeForYouImg{
    max-width: 900px;
    margin: 0 auto;
}
@media only screen and (max-width: 768px){

    .placeForYouImg{
        width:100% !important;
    }

    .logo-width{
        margin-top: -30px;
    }

    #navigation.animated-header {
        padding-bottom: : 30px;

    }

    #verticalImage{
        display: none;
    }

    #about {
     background-image: none !important;
     text-align: center;
 }

 .btnFontSize{
    font-size: 30px;
}

.slide-caption{
    color: #fff;
    display: table;
    height: 100%;
    left: 0;
    min-height: 100%;
    position: absolute;
    text-align: center;
    top: 5%;
    margin-left: 0px;
    width: 100%;
    z-index: 11;
}
.caption-content h1 {
    color: #777;
    font-size: 40px;
    font-weight: bolder;
    text-transform: uppercase;
}
.caption-content h2 {
    color: black;
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
}

.caption-content > span {
    display: block;
    font-size: 12px;
    text-transform: capitalize;
}
.bg-img-1{
    background-image: none !important;
    text-align: center;
}

.bg-img-2{
    background-image: none !important;
    text-align: center;
}
.bg-img-3{
    background-image: none !important;
    text-align: center;
}
.bg-img-4{
    background-image: none !important;
    text-align: center;
}
}

#nav-arrows > a{
    color: #999;
    border: none;
    margin-top: 0px;
}
#nav-arrows > a.sl-next:hover {
    background-color: transparent;
    border-color: transparent;
    color: rgb(103, 102, 204);
}
#about{
    background-image: url(../img/about/about-background-smaller.png);
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    width: 100%;
    height: 653px;
}
.about-content{
    text-align: center;
}

.about-content h1 {
    color: #777;
    font-size: 50px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
}
.about-content h2 {
    color: black;
    font-size: 42px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
}

.about-content > p {
    font-size: 25px;
    line-height: 1.1;
    text-align: center;
    display: block;
    color: black;
}
.about-content > a {
    text-align: center;
}
.aboutUsText{
    line-height: 1.3;
}
.blueColor{
    color:#6766fa;
}
.redColor{
    color:#ed1c24;
}
.whoAreWeText{
    text-align: left !important;
    line-height: 25px;

}

.ourVision01{
    background-color: #6766fa;
    padding: 20px;
    color: white;
    font-size:18px;
    border-radius: 30px;

}
.ourMission{
    background-color: #6766fa;
    padding: 20px;
    color: white;
    font-size: 18px;
    border-radius: 30px;

}
.ourValues{
 background-color: #ed1c24;
 padding: 20px;
 color: white;
 font-size: 18px;
 border-radius: 30px;
}
.aboutCompany{
    background-color: #77777730;
    padding: 20px;
    color: grey;
    font-size: 18px;
    border-radius: 30px;
    text-align: center;
    margin-top: 50px;
}
.h2Font{

    font-size: 30px !important;

}
.navbar-toggle .icon-bar {
    background-color: #777;
}
.listStyle{
  text-align: left;
  display: block;
  font-size: 25px;
  color: black;
  line-height: 1.1;

}
.alignCenterImg{
    margin-right: auto;
    margin-left: auto;
}
.icon-list li {
  padding-bottom:20px;
  display: block;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}
.borderRadius{
    border-radius: 30px;
}

.ZNRp{
    background-color: white;
    border-radius: 30px;
    color: black;
    padding: 20px;
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.75);
}
.colorYellow{
    color: #fbb92f;
}
.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    font-weight: bold;
    background: none !important;
}
.navbar-nav>li>a {
    color:black;
}
.colorGrey{
    color: #777;
}
.visionMissionValues{
    background-color: white;
    border-radius: 30px;
    color: black;
    padding: 20px;
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.75);
}

.backgroundTest{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    z-index: -1;
    max-height: 850px;
}
.contentTest{
    display: table;
    max-width: 880px;
    width: 100%;
    margin-left: 180px;
    margin-top: 135px;
    z-index: 1;
    height: 600px;
    text-align: left;
}
.contentBodyTest{
    display: table-cell;
    vertical-align: middle;

}
.backgroundImageOwls{
    background: url('../img/about/owlsOpenMouth3-Vertical.png');
    background-repeat:no-repeat;
    background-position:right center;
}

.anchor {
    display:block;
    padding-top:150px;
}

.banner-owl-left{
        position: absolute;
    top: 200px;
    left: 0px;
    z-index: 1;

}
.banner-owl-right{
    position: absolute;
    right: 100px;
    top: 150px;
    z-index: -2;
}

.sto-se-mora-zvijezda{
    margin:0 auto;
    text-align: center;
}
.divPadding{
    padding-left:0px;
    padding-right:0px;
}
@media(max-width: 995px){
    .turisticka-agencija-div{
    margin-top:0px !important;
}
.minteh-info-div{
     margin-top:0px !important;
}
}
@media(max-width: 767px){
.container {
    padding-right: 40px;
    padding-left: 40px;
    margin-right: auto;
    margin-left: auto;
}
  .banner-owl-left{
        display: none;
    }
}
@media(max-width: 780px){
  .banner-owl-left{
        display: none;
    }
      .banner-owl-right{
      display: none;
    }
    .contentTest{
        margin-left: 70px;
    }
    .banner-minteh-right{
        display: none;
    }
    .budi-zvijezda{
    text-align: center;

}
.alignCenterImg{
    margin-top: 20px !important;
}

.banner-znr-right{
   display: none;
}
.banner-do-right{
 display: none;
}
}
@media(max-width: 1010px){
.banner-znr-right{
   display: none;
}
}

.banner-minteh-right{
        position: absolute;
    right: 100px;
    top: 200px;
    z-index: -2;
}
.budi-zvijezda{
    width:300px; 
    margin:15% 0;
}
.turisticka-agencija-div{
    background-color: #eeb21e; border-radius: 30px; color: white; padding: 20px; font-size: 14px; margin-top:-100px;
}
.minteh-info-div{
    background-color: #eeb21e; border-radius: 30px; color: white; padding: 20px; font-size: 14px; margin-top:-100px;
}

.banner-znr-right{
    position: absolute;
    right: 100px;
    top:350px;
    z-index: -2;
}
.banner-do-right{
     position: absolute;
    right: 100px;
    top:150px;
    z-index: -2;
}